ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.suggestion__container {
  border: 1px solid lightgray;
  border-top: none;
  width: 500px;
  box-sizing: border-box;
}

.suggestion {
  color: black;
  padding-top: 12px;
  padding-bottom: 12px;
  cursor: pointer;
}

.suggestion:hover {
  font-weight: bold;
  background-color: rgb(238, 238, 238);
}
